<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bacuyag.SiribApp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name="com.bacuyag.SiribApp.References"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name="com.bacuyag.SiribApp.SplashScreen" />
        <activity android:name="com.bacuyag.SiribApp.MainActivity2" />
        <activity android:name="com.bacuyag.SiribApp.LayuninActivity" />
        <activity android:name="com.bacuyag.SiribApp.AboutUsActivity" />
        <activity
            android:name="com.bacuyag.SiribApp.MainActivity"
            android:exported="true"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.bacuyag.SiribApp.Questions" />
        <activity
            android:name="com.bacuyag.SiribApp.SignInActivity"
            android:exported="false"></activity>
        <activity
            android:name="com.bacuyag.SiribApp.RegisterActivity"
            android:exported="true" />
    </application>

</manifest>